@model IEnumerable<AnimalShelter.Models.Cat>

@{
    ViewData["Title"] = "Index";
}

<h2>Cats Register</h2>

<p>
    <a asp-action="Register">Register Cat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                Intelligence Coefficient
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cleansed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Centre)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-success"><i class="far fa-plus-square"></i> Firm</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntelligenceCoefficient)
            </td>
            <td>
                    @switch (item.Cleansed)
                    {
                        case 0:
                            <p>No</p>
                            break;
                                    
                        default:
                            <p>Yes</p>
                            break;
                     }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Centre.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Adopt" asp-route-id="@item.Id">Adopt</a>
            </td>
        </tr>
}
    </tbody>
</table>
